@font-face {
    font-family: title;
    src: url(../../assets/trench100free.ttf);
}

.contact-body{
    margin: 15px 450px 10px 450px;
    align-content: center;
    align-items: center;
    position: relative;
    font-family: title;
    color:cyan;
    background-color: #1b2437;
}