@font-face {
    font-family: main;
    src: url(../../assets/trench100free.ttf);
}

.main-body{
    margin: 15px 450px 10px 450px;
    position: relative;
    font-family: main;
    color:cyan;
    background-color: #1b2437;
}